@import 'toolbox'

$h_controls: 70px

$w_seek_bar: 350px
$w_seek_bar_downsized: 200px

$w_controls: $w_seek_bar + 110px
$w_controls_downsized: $w_seek_bar_downsized + 110px

$ff_sans: "freight-sans-pro", sans-serif
$ff_serif: "freight-display-pro", serif

body
  padding: 0
  margin: 0
  font-family: $ff_serif
  background: #000
  color: #fff

*
  +box-sizing(border-box)

.is-hidden
  display: none

.image-wrap, .list
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

.list
  +antialias
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  font-size: 48px
  font-weight: 200
  z-index: 200
  list-style: none
  text-align: center
  margin: 0
  padding: 0
  color: #000
  background: #000

  li
    margin: 0
    cursor: pointer
    display: inline-block
    float: left
    width: (100% / 6)
    padding-top: (100% / 6)
    background-size: cover
    background-position: center center
    height: 0
    overflow: hidden
    cursor: pointer

    +max-width(860px)
      width: 25%

    +max-width(500px)
      width: 50%
      padding-top: 50%

    &:hover
      opacity: 0.9

.image-wrap
  +transform(translateZ(0))
  +transform-style(preserve-3d)
  +backface-visibility(hidden)
  background: #000
  opacity: 0
  z-index: 10
  pointer-events: none
  transition: opacity 1.5s ease

  &.is-active
    z-index: 20
    opacity: 1

  &:after
    background: url('/assets/noise.gif') center center
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0.02

.not-played .is-active
  opacity: 0.3

.is-active
  &.is-map, &.is-video
    pointer-events: auto

.intro, .media
  +backface-visibility(hidden)
  +transform(translate3d(-50%, -50%, 0))
  +transform-origin(0% 0%)
  position: absolute
  top: 50%
  left: 50%
  max-width: 90%
  max-height: 90%
  z-index: 10

.intro
  +antialias
  +transform(translateY(-50%))
  max-width: none
  left: 0
  right: 0
  font-size: 40px
  font-style: italic
  z-index: 100
  display: none

  +max-width(900px)
    font-size: 32px

  +max-width(600px)
    font-size: 24px

  p
    max-width: 850px
    padding: 0 30px
    margin: 0 auto

    +max-width(900px)
      max-width: 85%

.not-played .intro
  display: block

.start-button
  transition: border 250ms ease
  font-size: 24px
  font-style: normal
  cursor: pointer
  display: block
  margin: 30px 0 0
  font-family: $ff_sans
  font-weight: 600
  text-transform: uppercase
  text-align: right

  +max-width(600px)
    font-size: 18px

  &:after
    vertical-align: middle
    font-size: 75%
    margin-left: 15px

  &:hover
    opacity: 0.7

.image
  +transform-style(preserve-3d) // fixes animation flicker

.map
  width: 1000px
  height: 600px
  +transform(translate3d(-50%, -50%, 0) !important)

.video
  width: 800px
  overflow: hidden

.video-frame
  padding-top: 74%
  height: 0
  overflow: hidden

  iframe
    position: absolute
    top: -30px // annoying youtube banner
    left: 0
    width: 100%
    height: 100%

.bg
  +transform(translate3d(-50%, -50%, 0))
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  max-width: none
  max-height: none
  z-index: 0
  filter: url(/assets/filters.svg#svgBlur)
  -webkit-filter: blur(100px)

.no-blur .bg
  display: none !important

.audio-player
  display: none
  position: relative
  z-index: 99
  pointer-events: none

.play-toggle, .chapters-toggle
  +transform(translateY(-50%))
  position: absolute
  left: 15px
  top: 50%
  font-size: 20px
  color: rgba(#fff, 0.5)
  transition: opacity 250ms ease
  cursor: pointer
  padding: 8px 0 0
  z-index: 200
  line-height: 1

  &:hover
    color: rgba(#fff, 1)

.chapters-toggle
  left: auto
  right: 15px

.play-toggle
  font-size: 28px

.controls
  position: fixed
  bottom: 0
  left: 50%
  width: 100%
  z-index: 200
  height: $h_controls
  text-align: center
  width: $w_controls
  margin-left: ($w_controls / 2) * -1
  padding: 0 15px

  +max-width(500px)
    width: $w_controls_downsized
    margin-left: ($w_controls_downsized / 2) * -1

  // .not-played &
  //   display: none

  .showing-chapters &
    background: rgba(#000, 0.75)

.seek-bar
  height: 4px
  margin-top: ($h_controls - 4px) / 2
  margin-left: 6px
  width: $w_seek_bar
  background: rgba(#fff, 0.25)
  display: inline-block
  position: relative
  cursor: pointer
  transition: all 250ms ease

  +max-width(500px)
    width: $w_seek_bar_downsized

  &:hover
    height: 8px
    margin-top: ($h_controls - 8px) / 2

.progress
  position: absolute
  left: 0
  height: 100%
  background: rgba(#fff, 0.7)

.time
  position: absolute
  pointer-events: none
  font-family: $ff_sans
  font-size: 11px
  letter-spacing: 1px
  width: 100%
  left: 0
  bottom: 12px
  color: rgba(#fff, 0.5)