@import 'toolbox'

body
  padding: 0
  margin: 0
  font-family: "freight-display-pro", serif
  background: #000

*
  +box-sizing(border-box)

.is-hidden
  display: none

+keyframes(fadeIn)
  from
    opacity: 0
  to
    opacity: 1

+keyframes(zoom)
  0%
    +transform(scale3d(1, 1, 1) translate3d(-50%, -50%, 0))
  50%
    +transform(scale3d(1.5, 1.5, 1) translate3d(-50%, -50%, 0))
  100%
    +transform(scale3d(1, 1, 1) translate3d(-50%, -50%, 0))

.image-wrap
  background: #000
  display: none
  z-index: 10
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  +transform-style(preserve-3d)
  +backface-visibility(hidden)

  &.fade-in
    +animation(fadeIn 1.5s ease)

  &.is-active
    z-index: 20

  &.is-exiting
    +prefix-property(animation-play-state, paused)

  &.is-exiting,
  &.is-active
    display: block

  &:after
    background: url('/assets/noise.gif') center center
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0.02

.not-played .image-wrap
  opacity: 0.3

.playing .is-active.is-image .image
  +animation(zoom 120s infinite linear 1s)

.intro, .image, .video
  +backface-visibility(hidden)
  +transform(translate3d(-50%, -50%, 0))
  +transform-origin(0% 0%)
  position: absolute
  top: 50%
  left: 50%
  max-width: 90%
  max-height: 90%
  z-index: 10

.intro
  +antialias
  +transform(translateY(-50%))
  max-width: none
  left: 0
  right: 0
  color: #fff
  font-size: 40px
  font-style: italic
  z-index: 100
  text-align: center
  display: none

  p
    max-width: 850px
    margin: 0 auto 20px

.not-played .intro
  display: block

.start-button
  transition: border 250ms ease
  font-size: 70px
  font-style: normal
  border-bottom: 2px solid rgba(#fff, 0.2)
  cursor: pointer

  &:hover
    border-bottom-color: rgba(#fff, 1)

.image
  +transform-style(preserve-3d) // fixes animation flicker

.video
  width: 800px * 1.3625
  height: 800px

.bg
  +transform(translate3d(-50%, -50%, 0))
  position: absolute
  top: 50%
  left: 50%
  width: 150%
  height: 150%
  z-index: 0
  -webkit-filter: blur(100px)

.audio-player
  visibility: hidden
  position: relative
  z-index: 99
  pointer-events: none