@import 'toolbox'

body
  padding: 0
  margin: 0
  font-family: "freight-display-pro", serif
  background: #000
  color: #fff

*
  +box-sizing(border-box)

.is-hidden
  display: none

.image-wrap, .list
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

.list
  +antialias
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  font-size: 48px
  font-weight: 200
  z-index: 200
  list-style: none
  text-align: center
  margin: 0
  padding: 0
  color: #000
  background: #000

  li
    margin: 0
    cursor: pointer
    display: inline-block
    float: left
    width: (100% / 6)
    padding-top: (100% / 6)
    background-size: cover
    background-position: center center
    height: 0
    overflow: hidden
    cursor: pointer

    +max-width(860px)
      width: 25%

    +max-width(500px)
      width: 50%
      padding-top: 50%

    &:hover
      opacity: 0.9

.image-wrap
  +transform(translateZ(0))
  +transform-style(preserve-3d)
  +backface-visibility(hidden)
  background: #000
  opacity: 0
  z-index: 10
  pointer-events: none
  transition: opacity 1.5s ease

  &.is-active
    z-index: 20
    opacity: 1

  &:after
    background: url('/assets/noise.gif') center center
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0.02

.not-played .is-active
  opacity: 0.3

.is-active
  &.is-map, &.is-video
    pointer-events: auto

.intro, .media
  +backface-visibility(hidden)
  +transform(translate3d(-50%, -50%, 0))
  +transform-origin(0% 0%)
  position: absolute
  top: 50%
  left: 50%
  max-width: 90%
  max-height: 90%
  z-index: 10

.intro
  +antialias
  +transform(translateY(-50%))
  max-width: none
  left: 0
  right: 0
  font-size: 40px
  font-style: italic
  z-index: 100
  text-align: center
  display: none

  +max-width(900px)
    font-size: 32px

  +max-width(600px)
    font-size: 24px

  p
    max-width: 850px
    padding: 0 30px
    margin: 0 auto 20px

.not-played .intro
  display: block

.start-button
  transition: border 250ms ease
  font-size: 30px
  font-style: normal
  cursor: pointer
  opacity: 0.7
  display: block
  margin: 45px 0

  &:hover
    opacity: 1

.image
  +transform-style(preserve-3d) // fixes animation flicker

.map
  width: 1000px
  height: 600px
  +transform(translate3d(-50%, -50%, 0) !important)

.video
  width: 800px * 1.3625
  height: 800px

.bg
  +transform(translate3d(-50%, -50%, 0))
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  max-width: none
  max-height: none
  z-index: 0
  filter: url(/assets/filters.svg#svgBlur)
  -webkit-filter: blur(100px)

.audio-player
  display: none
  position: relative
  z-index: 99
  pointer-events: none

.play-toggle, .chapters-toggle
  position: fixed
  left: 0
  bottom: 0
  font-size: 16px
  color: rgba(#fff, 0.5)
  text-shadow: 0 0 20px rgba(#000, 0.4)
  transition: opacity 250ms ease
  cursor: pointer
  z-index: 200
  padding: 20px

  &:hover
    color: rgba(#fff, 1)

.chapters-toggle
  left: auto
  right: 0

.not-played .play-toggle
  opacity: 0
  pointer-events: none